$primary: #5474fd;
$secondary: #333333;
$dark: #232323;
$light_grey: #999999;
$white: #ffffff;
$off_white: #e8e8e8;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    color: $white;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.page_wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.hero {
    background-image: url(../img/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    min-height: 50vh;
    position: relative;

    &_container {
        // Ask Alex if this is a collapsed element
        // background-color: lightblue;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%);

        &_title {
            text-align: center;
            font-size: 48px;
            line-height: 26px;
            letter-spacing: 4.8px;
            margin-bottom: 11px;
            text-transform: uppercase;

            &_subtitle {
                font-size: 22px;
                line-height: 26px;
                letter-spacing: 6.82px;
                text-align: center;
                text-transform: capitalize;
                margin-bottom: 48px;
            }
        }

        &_search_input {
            position: relative;
            margin-bottom: 108px;

            input {
                height: 63px;
                width: 100%;
                min-width: 653px;
                border: none;
                padding: 19px 113px;
                font-family: "Josefin Sans", sans-serif;
                font-size: 14px;
                letter-spacing: 2.8px;
                color: $light_grey;
                text-transform: capitalize;
            }

            &_btn {
                position: absolute;
                top: 50%;
                right: 1px;
                transform: translateY(-50%);
                cursor: pointer;
                background-color: $primary;
                border: 1px solid $white;
                font-family: "Aleo", sans-serif;
                font-size: 14px;
                line-height: 26px;
                letter-spacing: 1.4px;
                padding: 16px 38px 16px 23px;
                min-width: 153px;
                color: $white;
                text-transform: uppercase;

                &_icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 17px;
                    width: 22px;
                    height: 24px;
                }
            }
        }

        &_scroll {
            text-align: center;

            &_btn {
                display: block;
                margin: 0 auto;
                cursor: pointer;
                font-family: "Josefin Sans", sans-serif;
                color: $white;
                font-size: 14px;
                line-height: 26px;
                letter-spacing: 2.8px;
                text-transform: capitalize;
                background-color: transparent;
            }

            i {
                font-size: 17px;
            }
        }
    }
}

.header {
    background-color: $primary;
}

.header_col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-height: 83px;
}

.nav_bar {
    max-width: 525px;
    width: 100%;

    &_list {
        display: flex;
        justify-content: space-around;

        &_links {
            font-family: "Aleo", sans-serif;
            font-size: 14px;
            line-height: 26px;
            text-transform: uppercase;
        }
    }
}

.logo_link {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.cta_container {
    background-image: url(../img/section1-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    min-height: 50vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &_desc {
        max-width: 560px;

        &_title {
            font-family: "Aleo", sans-serif;
            font-weight: 400;
            font-size: 36px;
            line-height: 26px;
            margin-bottom: 50px;
        }

        &__p1 {
            font-family: "Josefin Sans", sans-serif;
            color: $off_white;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 1.6px;
            margin-bottom: 45px;
        }

        &_btn {
            background-color: $primary;
            color: $white;
            font-family: "Aleo", sans-serif;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            padding: 15px 38px;
        }
    }

    &_img {
        max-width: 560px;

        &_small {
            max-width: 350px;
            max-height: 220px;
        }

        .top_left {
            margin-left: 110px;
            margin-bottom: 10px;
        }

        .bottom_right {
            margin-left: 200px;
        }
    }

    &_box {
        background-color: $secondary;
        width: 100%;
        min-height: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 170px;

        &_desc {
            z-index: 2;
            text-align: center;

            &:nth-child(3) {
                margin-right: 0;
            }

            &_icons {
                background-color: $secondary;
                height: 60px;
                width: 60px;
                margin-bottom: 20px;
            }

            &_label {
                font-family: "Aleo", sans-serif;
                font-size: 36px;
                line-height: 26px;
                text-transform: capitalize;
            }
        }

        &_icon-bg {
            z-index: 1;
            position: absolute;
            max-width: 775px;
            width: 100%;
            top: 15%;
            left: 50%;
            transform: translate(-50%);
        }
    }
}

.booking_section_top {
    background-image: url(../img/section2-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    min-height: 50vh;
    width: 100%;

    position: relative;

    &_desc {
        background-color: rgba($dark, 0.8);
        width: 100%;
        max-width: 545px;
        max-height: 375px;
        padding: 50px 32px;

        position: absolute;
        top: 35%;
        transform: translateX(-50%);
        left: 30%;
    }
}

.booking_section_bottom {
    background-image: url(../img/section3-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    min-height: 50vh;
    width: 100%;

    position: relative;

    &_desc {
        background-color: rgba($dark, 0.8);
        width: 100%;
        max-width: 545px;
        max-height: 375px;
        padding: 50px 32px;

        position: absolute;
        top: 35%;
        transform: translateX(-50%);
        left: 70%;
    }
}

.booking_section_desc {
    color: $white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;

    &_title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 23px;

        &_cap {
            text-transform: uppercase;
            line-height: 26px;
            margin-bottom: 13px;
        }
    }

    &__p1 {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 46px;
    }

    &_btn {
        background-color: $primary;
        min-width: 228px;
        min-height: 63px;
        color: $white;
        font-family: "Aleo", sans-serif;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
    }
}

.testimonials {
    background-image: url(../img/section4-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    min-height: 50vh;
    width: 100%;

    &_container {
        height: 100%;
        min-height: 731px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            font-family: "Aleo", sans-serif;
            font-size: 36px;
            line-height: 26px;
            margin-bottom: 90px;
        }

        &_box {
            display: flex;
            max-width: 1110px;
            max-height: 284px;

            &_desc {
                background-color: $secondary;
                padding: 49px 25px 39px 62px;

                &__p1 {
                    font-family: "Josefin Sans", sans-serif;
                    font-size: 20px;
                    line-height: 26px;
                    text-transform: uppercase;
                    margin-bottom: 8px;
                }

                &__p2 {
                    font-family: "Josefin Sans", sans-serif;
                    font-size: 16px;
                    line-height: 26px;

                    i {
                        font-size: 36px;
                        color: $primary;
                    }
                }
            }
        }
    }
}
