@font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Josefin Sans";
  font-weight: 700;
  src: url("../fonts/JosefinSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Aleo";
  font-weight: 400;
  src: url("../fonts/Aleo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Aleo";
  font-weight: 700;
  src: url("../fonts/Aleo-Bold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.page_wrapper {
  margin: 0 auto;
  width: 100%;
}

.hero {
  background-image: url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.hero_container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 264px;
  padding-bottom: 132px;
}
.hero_container_title {
  text-align: center;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  margin-bottom: 11px;
  text-transform: uppercase;
}
.hero_container_title_subtitle {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 48px;
}
.hero_container_search_input {
  display: flex;
  justify-content: center;
  margin-bottom: 108px;
}
.hero_container_search_input input {
  display: flex;
  justify-content: center;
  height: 63px;
  width: 100%;
  max-width: 503px;
  border: none;
  padding: 19px 113px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: #999999;
  text-transform: capitalize;
}
.hero_container_search_input_btn {
  position: relative;
  cursor: pointer;
  background-color: #5474fd;
  border: 1px solid #ffffff;
  font-family: "Aleo", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  padding: 16px 38px 16px 23px;
  min-width: 153px;
  color: #ffffff;
  text-transform: uppercase;
}
.hero_container_search_input_btn:hover {
  background-color: #284ffd;
  transition: all 0.3s ease;
}
.hero_container_search_input_btn_icon {
  position: absolute;
  top: 30%;
  left: 83%;
  transform: translate(-50%);
  width: 22px;
  height: 24px;
}
.hero_container_scroll {
  text-align: center;
}
.hero_container_scroll_btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  text-transform: capitalize;
  background-color: transparent;
}
.hero_container_scroll_btn:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.hero_container_scroll i {
  font-size: 17px;
}

.header {
  background-color: #5474fd;
}
.header_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header_container_col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 32px 0;
}
.header_container_col_logo {
  height: 20px;
}
.header_container_col_logo a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.header_container_col_logo a span {
  display: inline-block;
  vertical-align: middle;
}
.header_container_col_nav_list {
  display: flex;
  gap: 35px;
}
.header_container_col_nav_list_links {
  font-family: "Aleo", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.header_container_col_nav_list_links:hover {
  text-decoration: underline;
  text-underline-offset: 0.75rem;
  text-decoration-color: #284ffd;
}
.header_container_col_nav_list_links:active {
  color: #284ffd;
}

.cta {
  background-image: url(../img/section1-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.cta_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 118px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta_container_desc {
  max-width: 560px;
  margin-right: 110px;
}
.cta_container_desc_title {
  font-family: "Aleo", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 50px;
}
.cta_container_desc__p1 {
  font-family: "Josefin Sans", sans-serif;
  color: #e8e8e8;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  margin-bottom: 45px;
}
.cta_container_desc_btn {
  background-color: #5474fd;
  color: #ffffff;
  font-family: "Aleo", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 15px 38px;
}
.cta_container_desc_btn:hover {
  background-color: #284ffd;
  transition: all 0.3s ease;
}
.cta_container_img {
  width: 100%;
  max-width: 440px;
}
.cta_container_img .left {
  text-align: left;
  margin-bottom: 10px;
}
.cta_container_img .right {
  text-align: right;
  margin-bottom: 10px;
}

.three-steps {
  background-color: #333333;
  background-image: url(../icons/bounce-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
.three-steps_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 85px;
}
.three-steps_container_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 140px;
}
.three-steps_container_desc:nth-child(3) {
  margin-right: 0;
}
.three-steps_container_desc_box {
  background-color: #333333;
  height: 100px;
  width: 100px;
  text-align: center;
}
.three-steps_container_desc_box_icons {
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}
.three-steps_container_desc_label {
  font-family: "Aleo", sans-serif;
  font-size: 36px;
  line-height: 26px;
  text-transform: capitalize;
}

.booking_container_top {
  background-image: url(../img/section2-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.booking_container_top_box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 230px 0 100px 0;
  display: flex;
  justify-content: flex-start;
}
.booking_container_bottom {
  background-image: url(../img/section3-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.booking_container_bottom_box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 230px 0 100px 0;
  display: flex;
  justify-content: flex-end;
}

.desc {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  background-color: rgba(35, 35, 35, 0.8);
  max-width: 543px;
  padding: 50px 30px;
}
.desc_subtitle {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
  margin-bottom: 23px;
}
.desc_title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 26px;
  margin-bottom: 13px;
}
.desc__p1 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 46px;
}
.desc_btn {
  background-color: #5474fd;
  min-width: 228px;
  min-height: 63px;
  color: #ffffff;
  font-family: "Aleo", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
}
.desc_btn:hover {
  background-color: #284ffd;
  transition: all 0.3s ease;
}

.testimonials {
  background-image: url(../img/section4-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.testimonials_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px 0 200px 0;
}
.testimonials_container__title {
  font-family: "Aleo", sans-serif;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 90px;
}
.testimonials_container_box {
  display: flex;
}
.testimonials_container_box_desc {
  background-color: #333333;
  padding: 50px 25px 40px 62px;
}
.testimonials_container_box_desc__p1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.testimonials_container_box_desc__p2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
.testimonials_container_box_desc__p2 i {
  font-size: 36px;
  color: #5474fd;
}
.testimonials_container_box img {
  min-width: 445px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  background-color: #333333;
  padding: 120px 0 55px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.footer_container__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 3.36px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.footer_container__p1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.footer_container_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer_container_icons i {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
}
.footer_container_icons .highlight {
  color: #5474fd;
}