* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.page_wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.hero {
  background-image: url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  min-height: 50vh;
  position: relative;
}
.hero_container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}
.hero_container_title {
  text-align: center;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  margin-bottom: 11px;
  text-transform: uppercase;
}
.hero_container_title_subtitle {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 48px;
}
.hero_container_search_input {
  position: relative;
  margin-bottom: 108px;
}
.hero_container_search_input input {
  height: 63px;
  width: 100%;
  min-width: 653px;
  border: none;
  padding: 19px 113px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: #999999;
  text-transform: capitalize;
}
.hero_container_search_input_btn {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #5474fd;
  border: 1px solid #ffffff;
  font-family: "Aleo", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  padding: 16px 38px 16px 23px;
  min-width: 153px;
  color: #ffffff;
  text-transform: uppercase;
}
.hero_container_search_input_btn_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 17px;
  width: 22px;
  height: 24px;
}
.hero_container_scroll {
  text-align: center;
}
.hero_container_scroll_btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  text-transform: capitalize;
  background-color: transparent;
}
.hero_container_scroll i {
  font-size: 17px;
}

.header {
  background-color: #5474fd;
}

.header_col {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  min-height: 83px;
}

.nav_bar {
  max-width: 525px;
  width: 100%;
}
.nav_bar_list {
  display: flex;
  justify-content: space-around;
}
.nav_bar_list_links {
  font-family: "Aleo", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.logo_link {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.cta_container {
  background-image: url(../img/section1-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta_container_desc {
  max-width: 560px;
}
.cta_container_desc_title {
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 50px;
}
.cta_container_desc__p1 {
  font-family: "Josefin Sans", sans-serif;
  color: #e8e8e8;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  margin-bottom: 45px;
}
.cta_container_desc_btn {
  background-color: #5474fd;
  color: #ffffff;
  font-family: "Aleo", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 15px 38px;
}
.cta_container_img {
  max-width: 560px;
}
.cta_container_img_small {
  max-width: 350px;
  max-height: 220px;
}
.cta_container_img .top_left {
  margin-left: 110px;
  margin-bottom: 10px;
}
.cta_container_img .bottom_right {
  margin-left: 200px;
}
.cta_container_box {
  background-color: #333333;
  width: 100%;
  min-height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 170px;
}
.cta_container_box_desc {
  z-index: 2;
  text-align: center;
}
.cta_container_box_desc:nth-child(3) {
  margin-right: 0;
}
.cta_container_box_desc_icons {
  background-color: #333333;
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}
.cta_container_box_desc_label {
  font-family: "Aleo", sans-serif;
  font-size: 36px;
  line-height: 26px;
  text-transform: capitalize;
}
.cta_container_box_icon-bg {
  z-index: 1;
  position: absolute;
  max-width: 775px;
  width: 100%;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
}

.booking_section_top {
  background-image: url(../img/section2-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  min-height: 50vh;
  width: 100%;
  position: relative;
}
.booking_section_top_desc {
  background-color: rgba(35, 35, 35, 0.8);
  width: 100%;
  max-width: 545px;
  max-height: 375px;
  padding: 50px 32px;
  position: absolute;
  top: 35%;
  transform: translateX(-50%);
  left: 30%;
}

.booking_section_bottom {
  background-image: url(../img/section3-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  min-height: 50vh;
  width: 100%;
  position: relative;
}
.booking_section_bottom_desc {
  background-color: rgba(35, 35, 35, 0.8);
  width: 100%;
  max-width: 545px;
  max-height: 375px;
  padding: 50px 32px;
  position: absolute;
  top: 35%;
  transform: translateX(-50%);
  left: 70%;
}

.booking_section_desc {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.booking_section_desc_title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 23px;
}
.booking_section_desc_title_cap {
  text-transform: uppercase;
  line-height: 26px;
  margin-bottom: 13px;
}
.booking_section_desc__p1 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 46px;
}
.booking_section_desc_btn {
  background-color: #5474fd;
  min-width: 228px;
  min-height: 63px;
  color: #ffffff;
  font-family: "Aleo", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
}

.testimonials {
  background-image: url(../img/section4-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  min-height: 50vh;
  width: 100%;
}
.testimonials_container {
  height: 100%;
  min-height: 731px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials_container__title {
  font-family: "Aleo", sans-serif;
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 90px;
}
.testimonials_container_box {
  display: flex;
  max-width: 1110px;
  max-height: 284px;
}
.testimonials_container_box_desc {
  background-color: #333333;
  padding: 49px 25px 39px 62px;
}
.testimonials_container_box_desc__p1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.testimonials_container_box_desc__p2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
.testimonials_container_box_desc__p2 i {
  font-size: 36px;
  color: #5474fd;
}