input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.page_wrapper {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

header,
section {
  padding: 0 135px;
}

.header {
  background-color: #f4f6f7;
}

.nav_container {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.nav_container_logo {
  width: 130px;
  height: 36px;
}
.nav_container_bar {
  width: 100%;
  max-width: 246px;
}
.nav_container_bar_list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 12px;
  color: #13253a;
}
.nav_container_bar_list_links:hover, .nav_container_bar_list_links:focus {
  text-decoration: underline;
  text-decoration-color: #ff7f57;
  text-underline-offset: 0.5rem;
}
.nav_container_bar_list_links:active {
  color: #2557ab;
}

.hero {
  background-color: #f4f6f7;
  min-height: 100vh;
  display: flex;
}
.hero_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.hero_container_desc {
  max-width: 470px;
}
.hero_container_desc__p1 {
  font-size: 16px;
  color: #2557ab;
  font-weight: 500;
}
.hero_container_desc__title {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
.hero_container_desc__p2 {
  color: #13253a;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 20px;
}
.hero_container_desc_btn {
  background-color: #ff7f57;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  padding: 18px 42px;
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero_container_desc_btn:hover, .hero_container_desc_btn:focus {
  background-color: #dc5931;
  transition: all 0.15s ease-in-out;
}
.hero_container_desc_btn:active {
  transform: scale(1.05);
}
.hero_container_img {
  min-width: 568px;
}

.sales_pitch {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sales_pitch_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sales_pitch_container__p1 {
  color: #2557ab;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 500;
}
.sales_pitch_container__title {
  font-size: 38px;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
}
.sales_pitch_container_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sales_pitch_container_box_card {
  text-align: center;
  max-width: 370px;
  margin-right: 30px;
}
.sales_pitch_container_box_card:last-child {
  margin-right: 0;
}
.sales_pitch_container_box_card_icon {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}
.sales_pitch_container_box_card__subtitle {
  color: #3b4d6c;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.sales_pitch_container_box_card__p2 {
  color: #13253a;
  font-size: 16px;
  line-height: 27px;
}

.statistics {
  background-color: #f4f6f7;
}
.statistics_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0;
}
.statistics_container_nr {
  max-height: 85px;
}
.statistics_container_nr__p1 {
  font-size: 46px;
  color: #13253a;
}
.statistics_container_nr__p2 {
  font-size: 16px;
  color: #2557ab;
  text-transform: capitalize;
  font-weight: 500;
}
.statistics_container_nr i {
  color: #ff7f57;
  font-size: 32px;
  font-weight: 100;
}

.testimonials {
  height: 100vh;
  margin-bottom: 100px;
}
.testimonials_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dce2e6;
}
.testimonials_container__p1 {
  color: #2557ab;
  font-size: 16px;
  font-weight: 500;
}
.testimonials_container__title {
  font-size: 38px;
  font-weight: 700;
  color: #13253a;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.testimonials_container_desc {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 60px;
}
.testimonials_container_desc_small {
  max-width: 370px;
  margin-right: 30px;
}
.testimonials_container_desc_large {
  max-width: 570px;
}
.testimonials_container_desc__subtitle {
  color: #13253a;
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
  margin-bottom: 20px;
}
.testimonials_container_desc__p2 {
  color: #13253a;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 20px;
}
.testimonials_container_logos {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.testimonials_container_logos_img {
  max-height: 66px;
}

.about_us {
  height: 100%;
}
.about_us_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_us_container_desc {
  align-items: center;
  max-width: 470px;
  margin-right: 100px;
}
.about_us_container_desc__title {
  max-width: 370px;
  font-size: 38px;
  color: #13253a;
  margin-bottom: 20px;
}
.about_us_container_desc__p1 {
  color: #13253a;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 20px;
}
.about_us_container_desc__p2 {
  color: #13253a;
  font-size: 15px;
  line-height: 27px;
  font-weight: 500;
  margin-bottom: 12px;
}
.about_us_container_desc__p2 i {
  color: #ff7f57;
  font-size: 16px;
  margin-right: 15px;
}
.about_us_container_box {
  min-height: 50vh;
  display: flex;
  align-items: flex-end;
}
.about_us_container_box_img {
  max-width: 570px;
}

.call_to_action {
  background-color: #ff7f57;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call_to_action_container {
  max-width: 970px;
  text-align: center;
}
.call_to_action_container__p1 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
}
.call_to_action_container__title {
  color: #fff;
  font-size: 46px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
.call_to_action_container__p2 {
  font-size: 16px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 20px;
}
.call_to_action_container_btn {
  background-color: #2557ab;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 18px 102px;
  box-shadow: 0 30px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.call_to_action_container_btn:hover, .call_to_action_container_btn:focus {
  background-color: #0b2e6b;
  transition: all 0.15s ease-in-out;
}
.call_to_action_container_btn:active {
  transform: scale(1.05);
}

.form {
  height: 100vh;
  background-color: #11364e;
}
.form_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_container_contact {
  width: 100%;
  max-width: 535px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_container_contact__title {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 38px;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
}
.form_container_contact__p1 {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.form_container_contact input {
  background-color: transparent;
  border: none;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 5px;
  font-size: 16px;
  color: #fff;
  outline: none;
}
.form_container_contact input:hover, .form_container_contact input:focus {
  background-color: #13253a;
}
.form_container_contact input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.2);
}
.form_container_contact input:last-child {
  border: none;
}
.form_container_contact input[type=submit] {
  background-color: #ff7f57;
  padding: 18px 100px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}
.form_container_contact input[type=submit]:hover, .form_container_contact input[type=submit]:focus {
  background-color: #dc5931;
  transition: all 0.15s ease-in-out;
}
.form_container_contact input[type=submit]:active {
  transform: scale(1.05);
}
.form_container_contact textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 120px;
  margin-bottom: 36px;
  font-size: 16px;
  color: #fff;
  outline: none;
  resize: none;
}
.form_container_contact textarea:focus {
  background-color: #13253a;
}
.form_container_contact textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.2);
}

.footer {
  height: 100%;
  padding: 15px 0;
  background-color: #13253a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__p1 {
  color: #fff;
  font-size: 12px;
}