$primary: #669bbc;
$secondary: #003049;
$dark: #212529;
$shadow: #495057;
$light: #e5e5e5;
$contrast: #f76707;
$contrast-dark: #d9480f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $light;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
    font-weight: 700;
}

label {
    color: $shadow;
    font-size: 20px;
    font-weight: 600;
}

input {
    font-size: 16px;
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid $secondary;
    border-radius: 4px;
    max-width: 250px;
}

button {
    color: $dark;
    max-width: 250px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $primary;
    border: 1px solid $secondary;
    border-radius: 4px;
    padding: 0.5rem 1rem;

    &:hover,
    &:active {
        background-color: $secondary;
        color: $light;
        transition: all 0.3s ease;
    }
}

section {
    margin-bottom: 60px;
}

.page_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.number_input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    input {
        max-width: 150px;
    }
}
