body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.logo {
  height: 32px;
  margin-right: 60px;
}

.header {
  padding: 15px 16px 15px 20px;
  border-bottom: 1px solid #ebe9e4;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.header_container {
  justify-content: space-between;
  align-items: center;
}

.search_input {
  position: relative;
}
.search_input input {
  padding: 6px 0px 6px 32px;
  font-size: 14px;
  line-height: 20px;
  color: #93928d;
  border: 1px solid #ebe9e4;
  border-radius: 4px;
  width: 100%;
  max-width: 264px;
}
.search_input i {
  color: #6f6e69;
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.header_actions {
  column-gap: 24px;
}

.profile {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 500;
  background-color: #3ebbb1;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}

.notify_wrapper {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
}
.notify_wrapper i {
  color: #6f6e69;
  font-size: 22px;
}

.counter {
  position: absolute;
  top: 2px;
  right: -8px;
  background-color: #c82f48;
  padding: 2px 5px;
  display: inline-block;
  border-radius: 38px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.profile_dropdown {
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
  color: #6f6e69;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 8px 12px;
}
.profile_dropdown:hover {
  border-color: #ebe9e4;
  transition: all 0.3s ease;
  border-radius: 4px;
}
.profile_dropdown i {
  color: #262624;
  font-size: 12px;
  display: inline-block;
  margin-left: 12px;
}

.sidebar_list {
  padding: 8px;
}
.sidebar_list a {
  display: inline-block;
  padding: 12px;
  border-radius: 4px;
}
.sidebar_list a.active {
  background-color: #ebe9e4;
}
.sidebar_list a:hover {
  background-color: #ebe9e4;
}
.sidebar_list a img {
  width: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafaf7;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding-top: 68px;
}

.main_content {
  background-color: lightblue;
  min-height: 200vh;
  width: 100%;
}