* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1rem;
}

.main {
    display: flex;
    justify-content: center;
    padding: 2%;
    min-height: 100vh;
}

.btn {
    max-width: fit-content;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 15px 20px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #84fab0;
}

.box {
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.subtitle {
    font-size: 1.25rem;
}

.highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.fitness {
    max-width: 100%;
    background-image: url(./assets/fitness_img.png);
    background-size: cover;
    background-position: center;
}

.pokemon {
    max-width: 100%;
    background-image: url(./assets/pokemon_img.png);
    background-size: cover;
    background-position: center;
}

.monticello {
    max-width: 100%;
    background-image: url(./assets/monticello_img.png);
    background-size: cover;
    background-position: center;
}

.weather {
    max-width: 100%;
    background-image: url(./assets/weather_img.png);
    background-size: cover;
    background-position: center;
}

.bhromaon {
    max-width: 100%;
    background-image: url(./assets/bhromaon_img.png);
    background-size: cover;
    background-position: center;
}

.clock {
    max-width: 100%;
    background-image: url(./assets/clock_img.png);
    background-size: cover;
    background-position: center;
}

/* Small Phones (default) */
.grid {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    gap: 0.8rem;
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:
        'highlights'
        'fitness'
        'pokemon'
        'monticello'
        'weather'
        'bhromaon'
        'clock';
}

@media (min-width: 600px) {
    .grid {
        gap: 0.75rem;
        padding: 0.75rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'fitness fitness'
            'fitness fitness'
            'pokemon highlights'
            'pokemon monticello'
            'pokemon monticello'
            'weather monticello'
            'weather clock'
            'weather clock'
            'bhromaon bhromaon';
    }
}

@media (min-width: 768px) {
    .grid {
        gap: 1rem;
        padding: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'pokemon fitness fitness'
            'pokemon fitness fitness'
            'pokemon highlights highlights'
            'monticello monticello weather'
            'monticello monticello weather'
            'clock bhromaon weather'
            'clock bhromaon weather';
    }
}
