product_managers {
  font-size: 0;
}

.product_col {
  display: inline-block;
  vertical-align: middle;
}

.product_col:first-child {
  max-width: 50%;
  margin-right: 100px;
}

.product_col:last-child {
  max-width: 50%;
}

.product_desc_container {
  max-width: 486px;
}

.product_list {
  margin-bottom: 30px;
}

.todo_container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  background-color: #ff9900;
  border-radius: 13px;
  width: 35px;
  height: 35px;
}

.todo_icon {
  height: 16px;
  width: 16px;
  padding: 9px;
}

.product_text {
  display: inline-block;
  vertical-align: middle;
  max-width: 385px;
  font-size: 16;
  line-height: 26px;
}

.product_img {
  max-width: 532px;
  width: 100%;
}