/* SCSS FILES */
.product_managers {
  font-size: 0;
}

.product_col {
  display: inline-block;
  vertical-align: middle;
}
.product_col_img {
  max-width: 532px;
  width: 100%;
}
.product_col:first-child {
  margin-right: 100px;
}
.product_col:first-child, .product_col:last-child {
  max-width: 50%;
}
.product_col_desc_container {
  max-width: 486px;
}

.product_list {
  margin-bottom: 30px;
}
.product_list_todo_container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  background-color: #ff9900;
  border-radius: 13px;
  width: 35px;
  height: 35px;
}

.todo_icon {
  height: 16px;
  width: 16px;
  padding: 9px;
}

.product_text {
  display: inline-block;
  vertical-align: middle;
  max-width: 385px;
  font-size: 16px;
  line-height: 26px;
}

.marketers {
  font-size: 0;
}
.marketers_section_container {
  max-width: 1126px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.marketers_section_container_col {
  display: inline-block;
  vertical-align: middle;
}
.marketers_section_container_col:first-child {
  margin-right: 100px;
}
.marketers_section_container_col:last-child, .marketers_section_container_col:first-child {
  max-width: 50%;
}
.marketers_section_container_col_img {
  max-width: 525px;
  width: 100%;
}
.marketers_section_container_col_desc_container {
  max-width: 486px;
}

.footer {
  font-size: 0;
}

.footer_container {
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 1px solid #bcd0e5;
}

.footer_nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer_nav_col {
  display: inline-block;
  width: 25%;
  padding: 0;
  color: #544837;
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 10px;
}

.email_container {
  min-width: 323px;
  height: 48px;
  margin-bottom: 20px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  text-align: center;
}

/* GENERAL STYLING */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #544837;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

button {
  background: none;
  outline: none;
  border: none;
}

.container {
  max-width: 1126px;
  width: 90%;
  margin: 0 auto;
}

.section_container {
  max-width: 1126px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 120px;
}

/* HEADER */
.header {
  padding: 20px 0 30px;
}

.logo_link {
  width: 175px;
}

.nav_bar,
.header_actions,
.logo_link {
  display: inline-block;
  vertical-align: middle;
}

.nav_list li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 32px;
}

.nav_list li:last-child {
  margin-right: 0;
}

.nav_bar {
  width: 60%;
  text-align: right;
  margin-right: 60px;
}

.nav_links:hover {
  text-decoration: underline;
}

.btn {
  border: 1px solid #bcd0e5;
  text-transform: capitalize;
  text-align: center;
  border-radius: 4px;
  padding: 16px 20px;
  font-weight: 700;
  color: #173a56;
  cursor: pointer;
  margin-right: 6px;
  font-size: 16px;
}

.btn.accent {
  font-size: 16px;
  color: #fff;
  background-color: #ff9900;
  border-color: #ff9900;
  margin-right: 0;
}

.btn:hover {
  background-color: #bcd0e5;
  border: 1px solid #bcd0e5;
  transition: all 0.3s ease-in-out;
}

.btn.accent:hover {
  background-color: #e67700;
  border-color: #e67700;
  transition: all 0.3s ease-in-out;
}

/* HERO SECTION */
.hero {
  font-size: 0;
  margin-bottom: 120px;
}

.hero_desc_container {
  max-width: 465px;
}

.hero_title {
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  color: #2f281e;
  margin-bottom: 30px;
}

.hero_desc {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}

.hero_column {
  display: inline-block;
  vertical-align: middle;
}

.hero_column:first-child {
  width: 50%;
}

.hero_column:last-child {
  width: 50%;
}

.hero_img {
  max-width: 588px;
  width: 100%;
}

.hero_action {
  display: inline-block;
}

.hero_get_started {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.hero_link {
  display: inline-block;
  vertical-align: middle;
}

.play_icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 17px;
  margin-right: 8px;
}

.hero_watch_video {
  display: inline-block;
  vertical-align: middle;
  color: #ff9900;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
}

/* FEATURE SECTION */
.feature {
  font-size: 0;
}

.feature_title {
  margin: 0 auto;
  text-align: center;
  color: #2f281e;
  max-width: 465px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}

.icon_shadow {
  width: 50px;
  height: 50px;
  margin-bottom: 28px;
}

.icon_shadow.arrow {
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.5), rgba(119, 82, 190, 0.25));
}

.icon_shadow.curve {
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.5), rgba(250, 176, 5, 0.25));
}

.icon_shadow.heart {
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.5), rgba(240, 62, 61, 0.25));
}

.icon_shadow.hourglass {
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.5), rgba(77, 173, 247, 0.25));
}

.icon_container {
  border-radius: 19px;
  width: 50px;
  height: 50px;
}

.icon_container.arrow {
  background-color: #7752be;
}

.icon_container.curve {
  background-color: #fab005;
}

.icon_container.heart {
  background-color: #f03e3d;
}

.icon_container.hourglass {
  background-color: #4dadf7;
}

.card_icon {
  width: 16px;
  height: 16px;
  padding: 17px;
}

.feature_column {
  display: inline-block;
  max-width: 1120px;
  margin: 0 auto;
}

.feature_card {
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  max-width: 272px;
  margin-right: 80px;
  margin-bottom: 60px;
}

.feature_card:last-child {
  margin-right: 0;
}

.card_title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 13px;
  text-align: start;
}

.card_text {
  font-size: 16px;
  line-height: 26px;
  text-align: start;
  max-width: 200px;
}

.feature_action {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}

/* GENERAL SECTION TEXT */
.section_title__p {
  font-size: 16px;
  margin-bottom: 8px;
}

.section_title {
  font-size: 36px;
  font-weight: 700;
  color: #2f281e;
  margin-bottom: 30px;
}

.section_sub {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #2f281e;
  margin-bottom: 8px;
}

.section_desc {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

/* EFFORTLESS VALIDATION */
.effortless_val {
  font-size: 0;
}

.effortless_col {
  display: inline-block;
  vertical-align: middle;
}

.effortless_desc_container {
  max-width: 486px;
}

.effortless_col:first-child {
  max-width: 50%;
  margin-right: 110px;
}

.effortless_col:last-child {
  max-width: 50%;
}

.effortless_img {
  max-width: 525px;
  width: 100%;
}

/* PRODUCT MANAGERS SECTION */