.footer {
    font-size: 0;
}

.footer_container {
    padding-top: 80px;
    padding-bottom: 80px;

    border-top: 1px solid #bcd0e5;
}

.footer_nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &_col {
        display: inline-block;
        width: 25%;
        padding: 0;

        color: #544837;
        font-size: 16px;
        line-height: 35px;
        margin-bottom: 10px;
    }
}

// .footer_nav .footer_col {
//     display: inline-block;
//     width: 25%;
//     padding: 0;

//     color: #544837;
//     font-size: 16px;
//     line-height: 35px;
//     margin-bottom: 10px;
// }

.email_container {
    min-width: 323px;
    height: 48px;
    margin-bottom: 20px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    text-align: center;
}
