* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.page_wrapper {
    padding-top: 60px;
    margin: 0 auto;
    max-width: 1200px;
}

.title {
    margin-bottom: 20px;
}

.text_target {
    margin-bottom: 20px;
}

.text_source {
    font-size: 1.25rem;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    min-width: 350px;
    margin-bottom: 40px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.groceries_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    margin-bottom: 40px;
}

.heading {
    background-color: #f5f5f5;
    font-weight: 700;
    font-size: 24px;
    padding: 10px;
    text-align: center;

    cursor: pointer;

    &:hover {
        background-color: #e0e0e0;
    }
}

.article {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.box {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fcc419;
    border: 3px solid #444;
}

.resizer_container_corner {
    width: 10px;
    height: 10px;
    background: #fff;
    border: 3px solid #444;
    border-radius: 50%;
    position: absolute;
}

.bottom_right {
    right: -5px;
    bottom: -5px;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}
