* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: inherit;

    background-image: url(./img/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.page_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon {
    color: #fff;
    font-size: 2rem;
}

.card_container {
    width: fit-content;
    padding: 60px 40px;
    border-radius: 50px;

    margin: 0 auto;

    background: rgb(63, 94, 251);
    background: linear-gradient(
        195deg,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%
    );

    box-shadow: 15px 15px 50px rgba($color: #000000, $alpha: 0.5);

    &_main {
        position: relative;
        padding: 20px 0;
        gap: 10px;

        &_city {
            position: relative;
            z-index: 3;

            color: #fff;
        }

        &_weather {
            position: absolute;
            bottom: 25%;
            right: 20%;
            z-index: 2;

            height: 200px;
            width: 200px;

            img {
                height: 150px;
            }
        }

        &_temp {
            position: relative;
            z-index: 1;
            background-color: rgba($color: #fff, $alpha: 0.15);
            border-radius: 50%;
            height: 250px;
            width: 250px;
            color: #fff;
        }
    }

    &_info {
        gap: 20px;

        &_condition {
            background-color: rgba($color: #fff, $alpha: 0.15);
            border-radius: 50px;

            gap: 10px;
            padding: 10px 20px;
        }
    }
}

.weather_container {
    gap: 20px;

    &_input {
        background: rgba($color: #fff, $alpha: 0.75);

        padding: 10px 20px;
        border: none;
        outline: none;
        border-radius: 50px;

        font-size: 2rem;
        text-transform: capitalize;
    }

    &_btn {
        background-color: #ff922b;
        cursor: pointer;

        height: 60px;
        width: 60px;
        border: none;
        border-radius: 50%;

        &:hover {
            background-color: #fd7e14;
        }

        &:active {
            background: #ffa94d;
        }

        &_icon {
            font-size: 2rem;
        }
    }
}

.city_data {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 2.5px 2.5px 5px rgba($color: #000000, $alpha: 0.5);
}

.temp_data {
    position: relative;
    z-index: 3;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
}

.desc_data {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: #ff922b;
    text-shadow: 2.5px 2.5px 5px rgba($color: #000000, $alpha: 0.5);
}

.humidity_data,
.wind_data {
    font-size: 1.25rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.5);
}

.error_message {
    position: absolute;
    display: none;
    z-index: 4;

    justify-content: center;
    align-items: center;

    min-width: 350px;
    min-height: 475px;

    background-color: #ffa94d;
    color: #fff;
    border: 2px solid #fd7e14;
    border-radius: 50px;
    box-shadow: 10px 10px 15px rgba($color: #000000, $alpha: 0.5);

    &_icon {
        position: absolute;
        z-index: 4;
        color: #000000;
        opacity: 0.5;
        font-size: 10rem;
    }

    &_text {
        position: relative;
        z-index: 5;

        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
    }
}

.error_message.visible {
    display: flex;
}
