$title-color: #2f281e;
$text-color: #544837;
$primary-color: #ff9900;
$nav-color: #22343d;
$btn-color: #bcd0e5;

.features {
    margin-bottom: 120px;

    &_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_title {
            font-size: 36px;
            font-weight: 700;
            max-width: 465px;
            text-align: center;
            margin-bottom: 60px;
        }

        &_col {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;
            margin-bottom: 60px;

            &_card {
                display: flex;
                flex-direction: column;
                min-width: 215px;

                &_title {
                    font-size: 22px;
                    font-weight: 600;
                    margin-bottom: 13px;
                }

                &__p {
                    font-size: 16px;
                    font-weight: 500;
                }

                &_bgc {
                    width: 50px;
                    height: 50px;
                    margin-bottom: 28px;

                    &_icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        font-size: 16px;
                        color: #fff;
                        border-radius: 19px;
                        background-color: aqua;
                    }
                }
            }
        }
    }
}

.features_container_col_card_bgc.arrow {
    background-image: linear-gradient(
        white,
        rgba(255, 255, 255, 0.5),
        rgba(119, 82, 190, 0.25)
    );

    .features_container_col_card_bgc_icon.arrow {
        background-color: #7752be;
    }
}

.features_container_col_card_bgc.stumbleupon {
    background-image: linear-gradient(
        white,
        rgba(255, 255, 255, 0.5),
        rgba(250, 176, 5, 0.25)
    );

    .features_container_col_card_bgc_icon.stumbleupon {
        background-color: #fab005;
    }
}

.features_container_col_card_bgc.heart {
    background-image: linear-gradient(
        white,
        rgba(255, 255, 255, 0.5),
        rgba(240, 62, 61, 0.25)
    );

    .features_container_col_card_bgc_icon.heart {
        background-color: #f03e3d;
    }
}

.features_container_col_card_bgc.hourglass {
    background-image: linear-gradient(
        white,
        rgba(255, 255, 255, 0.5),
        rgba(77, 173, 247, 0.25)
    );

    .features_container_col_card_bgc_icon.hourglass {
        background-color: #4dadf7;
    }
}
