$main-color: #55b7ff;
$accent-color: #7e5aff;
$slider-light: #24ccfa;
$slider-dark: #3c7fd4;
$text: #2c4058;

.gallery {
    margin-bottom: 140px;

    .gallery_container {
        &_title {
            font-size: 2.75rem;
            font-weight: 700;
            color: $text;
            text-transform: uppercase;
            margin-bottom: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &::before {
                content: '';
                background-color: #2c4058;
                width: 100px;
                height: 1px;
                margin-bottom: 30px;
                text-align: center;
                display: block;
            }

            @media (max-width: 1025px) {
                font-size: 2.5rem;
                text-align: center;
            }
            @media (max-width: 820px) {
                font-size: 2.25rem;
            }
            @media (max-width: 600px) {
                font-size: 2rem;
            }
        }

        &_btn {
            font-size: 0.875rem;
            color: #000;
            text-transform: uppercase;
            background-color: #fff;
            border: 1px solid $text;
            padding: 15px 60px;

            &:hover {
                background-color: $slider-light;
                border: 1px solid $slider-dark;
                transition: all 0.3s ease;
            }
        }
    }
}

.lightGallery {
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    justify-content: center;
    gap: 10px;

    @media (min-width: 1280px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 820px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.lightGallery a {
    overflow: hidden;
}

.lightGallery a img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &:hover {
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
    }
}

.gallery_item1 {
    grid-column: span 2;
    grid-row: span 2;
}
