.gallery {
  margin-bottom: 140px;
}
.gallery .gallery_container_line {
  background-color: #2c4058;
  width: 100px;
  height: 1px;
  margin-bottom: 30px;
}
.gallery .gallery_container_title {
  font-size: 2.75rem;
  font-weight: 700;
  color: #2c4058;
  text-transform: uppercase;
  margin-bottom: 90px;
}
@media (max-width: 1025px) {
  .gallery .gallery_container_title {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 820px) {
  .gallery .gallery_container_title {
    font-size: 2.25rem;
  }
}
@media (max-width: 600px) {
  .gallery .gallery_container_title {
    font-size: 2rem;
  }
}
.gallery .gallery_container_btn {
  font-size: 0.875rem;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #2c4058;
  padding: 15px 60px;
}
.gallery .gallery_container_btn:hover {
  background-color: #24ccfa;
  border: 1px solid #3c7fd4;
  transition: all 0.3s ease;
}

.lightGallery {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  justify-content: center;
  gap: 10px;
}
@media (min-width: 1280px) {
  .lightGallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 820px) {
  .lightGallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.lightGallery a {
  overflow: hidden;
}

.lightGallery a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.lightGallery a img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.gallery_item1 {
  grid-column: span 2;
  grid-row: span 2;
}