.hero_section {
  max-width: 1600px;
  margin: 0 auto;
}
.hero_section_line {
  background-color: #2c4058;
  width: 100px;
  height: 1px;
  margin-bottom: 30px;
}
.hero_section_subtitle {
  font-size: 22px;
}
.hero_section_main_title {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 90px;
}
.hero_section_title {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero_section_desc {
  font-size: 18px;
  margin-bottom: 40px;
}
.hero_section_content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom: 140px;
}
.hero_section_content_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  max-width: 470px;
}
.hero_section_geo_tag {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
}
.hero_section_btn {
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #2c4058;
  padding: 15px 40px;
  margin-bottom: 60px;
  max-width: fit-content;
}
.hero_section_btn:hover {
  background-color: #24ccfa;
  border: 1px solid #3c7fd4;
  transition: all 0.3s ease;
}

.hero_section_content_blue_container,
.hero_section_content_purple_container {
  position: relative;
  display: inline-block;
  max-width: 585px;
  height: 100%;
}

.hero_section_content_blue_container::after {
  content: "";
  position: absolute;
  background-color: #55b7ff;
  width: 100%;
  height: 100%;
  top: -10%;
  left: -45%;
}

.hero_section_content_purple_container::after {
  content: "";
  position: absolute;
  background-color: #7e5aff;
  width: 100%;
  height: 100%;
  top: -10%;
  left: 45%;
}

.trade_center_img,
.commerce_center_img {
  position: relative;
  z-index: 1;
  display: block;
}