$main-color: #55b7ff;
$accent-color: #7e5aff;
$slider-light: #24ccfa;
$slider-dark: #3c7fd4;
$text: #2c4058;

@use 'hero';
@use 'slider';
@use 'gallery';
@use 'map';
@use 'contact';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 0;
    color: $text;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.page_wrapper {
    width: 100%;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 145px;

    @media (max-width: 1280px) {
        margin-right: 75px;
    }
    @media (max-width: 1025px) {
        margin-right: 0;
    }

    &_img {
        max-width: 240px;
        height: 55px;
    }
}

.header {
    width: 100%;
    background: rgb(126, 90, 255);
    background: linear-gradient(230deg, rgba(126, 90, 255, 1) 20%, rgba(85, 183, 255, 1) 80%);
    margin-bottom: 100px;

    &_overlay {
        background: rgba(0, 0, 0, 0.1) url(../assets/main-bg.png);
        background-blend-mode: darken;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .nav_container {
        margin: 0 auto;
        padding-top: 55px;

        .nav_bar {
            font-size: 0.875rem;
            text-transform: uppercase;
            color: #fff;

            @media (max-width: 1025px) {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            &_list {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 110px;

                @media (max-width: 1280px) {
                    margin-right: 55px;
                }

                @media (max-width: 1025px) {
                    margin-right: 0;
                    margin-bottom: 40px;
                    justify-content: space-around;

                    .hideOnMobile {
                        display: none;
                    }
                }

                li {
                    margin-right: 70px;

                    @media (max-width: 1280px) {
                        margin-right: 35px;
                    }

                    @media (max-width: 1025px) {
                        margin-right: 0;
                    }

                    &:nth-last-child(1),
                    &:nth-last-child(2) {
                        margin-right: 0;
                    }
                }

                a {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                }

                &_link {
                    text-align: center;

                    &:hover .nav_bar_list_link_icon {
                        border: 1px solid rgba(#fff, 1);
                        transition: all 0.3s ease;
                    }

                    &_icon {
                        border: 1px solid rgba($color: #fff, $alpha: 0.5);
                        min-width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
            }

            .socials {
                gap: 20px;

                i {
                    font-size: 1rem;

                    @media (max-width: 1025px) {
                        font-size: 14px;
                    }
                }

                &_link {
                    border: 1px solid rgba($color: #fff, $alpha: 0.5);
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;

                    &:hover {
                        background-color: rgba($color: #fff, $alpha: 0.5);
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }

    &_section {
        color: #fff;
        text-transform: uppercase;
        text-align: center;

        .vertical_slider {
            margin: 0 auto;
            height: 100%;
            max-width: 100%;
            padding-top: 225px;
            padding-bottom: 240px;

            &_slide {
                padding: 10px 0;

                &_title {
                    font-size: 5rem;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;

                    @media (max-width: 1280px) {
                        font-size: 4rem;
                    }

                    @media (max-width: 1025px) {
                        font-size: 3.5rem;
                    }

                    @media (max-width: 820px) {
                        font-size: 2.5rem;
                    }

                    @media (max-width: 600px) {
                        font-size: 2rem;
                    }

                    @media (max-width: 480px) {
                        font-size: 1.5rem;
                    }
                }

                &_subtitle {
                    font-size: 1.125rem;
                    letter-spacing: 0.3em;
                    text-transform: uppercase;

                    @media (max-width: 1025px) {
                        font-size: 1rem;
                    }

                    @media (max-width: 820px) {
                        font-size: 0.875rem;
                    }

                    @media (max-width: 600px) {
                        font-size: 0.75rem;
                    }

                    @media (max-width: 480px) {
                        font-size: 0.625rem;
                    }
                }
            }
        }

        .scroll_btn,
        .scroll_btn.i {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border: 1px solid rgba($color: #fff, $alpha: 0.5);
            border-radius: 50%;
            margin-bottom: 55px;
            font-size: 1rem;
            color: rgba($color: #fff, $alpha: 0.5);

            &:hover {
                border: 1px solid rgba($color: #fff, $alpha: 1);
                color: rgba($color: #fff, $alpha: 1);
                transition: all 0.3s ease;
            }
        }
    }
}

.active {
    background-color: #fff;
}

// SIDEBAR MOBILE
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    width: 300px;
    backdrop-filter: blur(10px);
    background: rgb(126, 90, 255);
    background: linear-gradient(230deg, rgba(126, 90, 255, 0.1) 20%, rgba(85, 183, 255, 0.1) 80%);
    box-shadow: -10px 0 10px rgba($color: #000000, $alpha: 0.1);

    display: none;
    flex-direction: column;
    cursor: pointer;

    @media (max-width: 480px) {
        width: 100%;
    }
}

.sidebar li,
.sidebar a {
    color: #000;
    padding: 20px 10px;
    width: 100%;

    &:hover {
        background-color: $main-color;
    }
}

.open_icon {
    font-size: 2.625rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $main-color;
        transform: scale(1.15);
    }

    @media (min-width: 1025px) {
        font-size: 0;
    }
}

.close_icon {
    font-size: 1.5rem;
}

// SLICK OVERRIDE
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 60px;
}

.slick-dots li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li button {
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid rgba($color: #fff, $alpha: 0.5);
    background-color: transparent;

    &:hover {
        border: 1px solid rgba($color: #fff, $alpha: 1);
        transition: all 0.3s ease;
    }
}

.slick-dots .slick-active {
    border-radius: 50%;
    background-color: #fff;
    border: none;
}

.header .slick-dots {
    flex-direction: column;
    position: absolute;
    right: 60px;
    top: 45%;
    transform: translateY(-50%);

    @media (max-width: 1025px) {
        right: 20px;
    }
    @media (max-width: 820px) {
        visibility: hidden;
        position: relative;
    }
}
