$main-color: #55b7ff;
$accent-color: #7e5aff;
$slider-light: #24ccfa;
$slider-dark: #3c7fd4;
$text: #2c4058;

.slider {
    background: rgb(126, 90, 255);
    background: linear-gradient(230deg, rgba(36, 204, 250, 1) 0%, rgba(60, 127, 212, 1) 100%);
    background-blend-mode: multiply;
    margin-bottom: 100px;

    &_overlay {
        background: url(../assets/slider-bg.png);
        background-repeat: no-repeat;
        background-position: bottom;
        width: 100%;
        background-size: 100%;
        padding-top: calc(2.8rem);
    }
}

.slider_container {
    padding: 135px 0 145px 0;

    &_title {
        font-size: 44px;
        color: #fff;
        margin-bottom: 90px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::before {
            content: '';
            background-color: #fff;
            width: 100px;
            height: 1px;
            margin-bottom: 30px;
            text-align: center;
            display: block;
        }
    }
}

// TESTIMONIALS
.slider_testimonials {
    box-sizing: border-box;
    background-color: #fff;
    height: fit-content;

    &_img {
        width: 100%;
        margin-bottom: 30px;
    }

    &_info {
        padding: 0 20px;

        &_title {
            font-size: 1.375rem;
            font-weight: 700;
            color: $text;
            margin-bottom: 15px;
            text-transform: uppercase;

            @media (max-width: 1025px) {
                font-size: 1.25;
            }

            @media (max-width: 820px) {
                font-size: 1.125rem;
            }

            @media (max-width: 600px) {
                font-size: 1rem;
            }
        }

        &_desc {
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            font-size: 1.125rem;
            margin-bottom: 40px;

            @media (max-width: 1025px) {
                font-size: 1rem;
            }

            @media (max-width: 820px) {
                font-size: 0.875rem;
            }

            @media (max-width: 600px) {
                font-size: 0.75rem;
            }
        }
    }

    &_area {
        display: flex;
        gap: 20px;
        padding-left: 20px;

        &_box {
            margin-bottom: 30px;

            @media (max-width: 600px) {
                margin-bottom: 25px;
            }

            @media (max-width: 480px) {
                margin-bottom: 20px;
            }

            &_img {
                border-radius: 50%;
                height: 60px;
                max-width: 60px;
            }
        }

        &_name {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 60px;

            &_text {
                color: $text;
                font-size: 18px;
                margin-bottom: 6px;

                @media (max-width: 1025px) {
                    font-size: 1rem;
                }

                @media (max-width: 820px) {
                    font-size: 0.875rem;
                }

                @media (max-width: 600px) {
                    font-size: 0.75rem;
                }
            }

            &_date {
                color: $main-color;
                font-size: 14px;
            }
        }
    }
}

/* SLIDER */
.horizontal_slider {
    // Try to play around with percent
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 25px;

    @media (max-width: 1280px) {
        width: 90%;
    }
}

.horizontal_slider .slider .slick-track {
    margin: auto;
    display: flex;
    align-items: center;
}

.horizontal_slider .slick-initialized {
    overflow: visible;
}

.horizontal_slider .slick-slide {
    margin-right: 15px;
    margin-left: 15px;
}

// SLICK OVERRIDE
.horizontal_slider .left_arrow,
.horizontal_slider .right_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);

    font-size: 16px;
    height: 40px;
    width: 40px;
    color: rgba($color: #fff, $alpha: 0.5);
    border: 1px solid rgba($color: #fff, $alpha: 0.5);
    border-radius: 50%;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        color: rgba($color: #fff, $alpha: 1);
        border: 1px solid rgba($color: #fff, $alpha: 1);
    }

    @media (max-width: 480px) {
        display: none !important;
    }
}

.horizontal_slider .left_arrow {
    left: -20px;

    @media (max-width: 600px) {
        left: -10px;
    }

    @media (max-width: 480px) {
        left: 0;
    }
}

.horizontal_slider .right_arrow {
    right: -20px;

    @media (max-width: 600px) {
        right: -10px;
    }

    @media (max-width: 480px) {
        right: 0;
    }
}

.horizontal_slider .slick-list {
    margin-bottom: 60px;
}
