.slider {
  background: #7e5aff;
  background: linear-gradient(230deg, #24ccfa 0%, #3c7fd4 100%);
  margin-bottom: 100px;
}
.slider_overlay {
  background: rgba(0, 0, 0, 0.1) url(../assets/slider-bg.png);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: calc(2.8);
  background-position: bottom;
}

.slider_container {
  padding: 135px 0 145px 0;
}
.slider_container_title {
  font-size: 44px;
  color: #fff;
  margin-bottom: 90px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider_container_title::before {
  content: "";
  background-color: #fff;
  width: 100px;
  height: 1px;
  margin-bottom: 30px;
  text-align: center;
  display: block;
}

.slider_testimonials {
  box-sizing: border-box;
  background-color: #fff;
  height: fit-content;
}
.slider_testimonials_img {
  width: 100%;
  margin-bottom: 30px;
}
.slider_testimonials_info {
  padding: 0 20px;
}
.slider_testimonials_info_title {
  font-size: 1.375rem;
  font-weight: 700;
  color: #2c4058;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media (max-width: 1025px) {
  .slider_testimonials_info_title {
    font-size: 1.25;
  }
}
@media (max-width: 820px) {
  .slider_testimonials_info_title {
    font-size: 1.125rem;
  }
}
@media (max-width: 600px) {
  .slider_testimonials_info_title {
    font-size: 1rem;
  }
}
.slider_testimonials_info_desc {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  margin-bottom: 40px;
}
@media (max-width: 1025px) {
  .slider_testimonials_info_desc {
    font-size: 1rem;
  }
}
@media (max-width: 820px) {
  .slider_testimonials_info_desc {
    font-size: 0.875rem;
  }
}
@media (max-width: 600px) {
  .slider_testimonials_info_desc {
    font-size: 0.75rem;
  }
}
.slider_testimonials_area {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}
.slider_testimonials_area_box {
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .slider_testimonials_area_box {
    margin-bottom: 25px;
  }
}
@media (max-width: 480px) {
  .slider_testimonials_area_box {
    margin-bottom: 20px;
  }
}
.slider_testimonials_area_box_img {
  border-radius: 50%;
  height: 60px;
  max-width: 60px;
}
.slider_testimonials_area_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
}
.slider_testimonials_area_name_text {
  color: #2c4058;
  font-size: 18px;
  margin-bottom: 6px;
}
@media (max-width: 1025px) {
  .slider_testimonials_area_name_text {
    font-size: 1rem;
  }
}
@media (max-width: 820px) {
  .slider_testimonials_area_name_text {
    font-size: 0.875rem;
  }
}
@media (max-width: 600px) {
  .slider_testimonials_area_name_text {
    font-size: 0.75rem;
  }
}
.slider_testimonials_area_name_date {
  color: #55b7ff;
  font-size: 14px;
}

/* SLIDER */
.horizontal_slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 25px;
}
@media (max-width: 1280px) {
  .horizontal_slider {
    width: 90%;
  }
}

.horizontal_slider .slider .slick-track {
  margin: auto;
  display: flex;
  align-items: center;
}

.horizontal_slider .slick-initialized {
  overflow: visible;
}

.horizontal_slider .slick-slide {
  margin-right: 15px;
  margin-left: 15px;
}

.horizontal_slider .left_arrow,
.horizontal_slider .right_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-size: 16px;
  height: 40px;
  width: 40px;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.horizontal_slider .left_arrow:hover,
.horizontal_slider .right_arrow:hover {
  color: white;
  border: 1px solid white;
}
@media (max-width: 480px) {
  .horizontal_slider .left_arrow,
.horizontal_slider .right_arrow {
    display: none !important;
  }
}

.horizontal_slider .left_arrow {
  left: -20px;
}
@media (max-width: 600px) {
  .horizontal_slider .left_arrow {
    left: -10px;
  }
}
@media (max-width: 480px) {
  .horizontal_slider .left_arrow {
    left: 0;
  }
}

.horizontal_slider .right_arrow {
  right: -20px;
}
@media (max-width: 600px) {
  .horizontal_slider .right_arrow {
    right: -10px;
  }
}
@media (max-width: 480px) {
  .horizontal_slider .right_arrow {
    right: 0;
  }
}