* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

a {
  font-style: none;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 25px;
}

input {
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
}