$primary: #669bbc;
$secondary: #003049;
$dark: #212529;
$shadow: #495057;
$light: #e5e5e5;
$contrast: #f76707;
$contrast-dark: #d9480f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: $light;
    color: $dark;
}

a {
    font-style: none;
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 25px;
    font-weight: 700;
    background-color: $primary;
    text-transform: capitalize;

    &:hover {
        background-color: $secondary;
        color: $contrast;
        transition: all 0.3s ease;
    }
}

input {
    border: 1px solid $dark;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 250px;
}

.page_wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.title {
    color: $dark;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 20px;
    color: $dark;
    margin-bottom: 20px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#total_output {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    background-color: #fff;
    color: $dark;

    border: 1px solid $contrast;
    border-radius: 4px;
    padding: 20px 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 250px;
}

#output {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    background-color: #fff;
    color: $dark;

    border: 1px solid $contrast;
    border-radius: 4px;
    padding: 20px 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 250px;
}
