* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #000;
    color: #fff;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

img.hero_img {
    width: 100%;

    @media screen and (min-width: 1280px) {
        min-width: 858px;
    }
}

.page_wrapper {
    max-width: 1440px;
    margin: 0 auto;

    @media screen and (max-width: 1440px) {
        max-width: 90%;
        padding-top: 45px;
    }

    @media screen and (max-width: 768px) {
        padding-top: 15px;
    }
}

.col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 185px;

    .navigation {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            a:hover {
                color: #323651;
                text-decoration: underline;
                text-underline-offset: 0.5rem;
            }
        }

        a {
            display: block;
            text-transform: uppercase;
        }

        @media screen and (max-width: 768px) {
            transform: translateX(1000px);
            position: fixed;
            right: 0;
            bottom: 0;
            width: 75%;
            background-color: #000;
            border-left: 1px solid rgba($color: #3b3b3b, $alpha: 0.2);
            top: 0px;
            transition: all 0.5s ease;
            z-index: 1;

            &.open {
                transform: translateX(0);

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0 auto;
                    max-width: 50%;
                    padding-top: 75px;
                }
            }
        }
    }
}

.hero_container {
    &_desc {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        &_title {
            font-size: 84px;
            line-height: 102px;
            letter-spacing: -2px;
            font-weight: 500;
            margin-bottom: 45px;

            @media screen and (max-width: 1280px) {
                font-size: 72px;
                line-height: 82.8x;
                letter-spacing: -1.6px;
                margin-bottom: 23px;
            }

            @media screen and (max-width: 768px) {
                font-size: 36px;
                line-height: 39.6px;
                letter-spacing: -0.8px;
                margin-bottom: 15px;
            }
        }

        &__p1 {
            font-family: "Source Sans 3", sans-serif;
            font-size: 22px;
            line-height: 34px;
            font-weight: 400;
            margin-bottom: 185px;

            @media screen and (max-width: 1280px) {
                max-width: 575px;
                font-size: 22px;
                line-height: 33px;
                margin-bottom: 45px;
            }

            @media screen and (max-width: 768px) {
                max-width: 211px;
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 45px;
            }
        }

        @media screen and (max-width: 1280px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    @media screen and (min-width: 1280px) {
        height: 100%;
        display: flex;
        padding-top: 60px;
        gap: 160px;
    }

    @media screen and (max-width: 1280px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.scroller {
    &_arrow_icon {
        height: 60px;
        width: 60px;
        cursor: pointer;
    }

    @media screen and (max-width: 1280px) {
        display: none;
    }
}

.dots_container {
    position: relative;
    background-color: transparent;
    height: 42px;
    width: 42px;

    &_divider {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        &_icon {
            height: 8px;
            width: 8px;
            background-color: #242635;
            border-radius: 50%;
        }
    }

    &.open {
        .first,
        .middle,
        .last {
            transition: all 0.3s ease;
            position: absolute;
            height: 8px;
            width: 2rem;
            border-radius: 11rem;
        }
    }

    @media screen and (max-width: 1280px) {
        display: none;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }

    @media screen and (max-width: 768px) {
        display: block;
        z-index: 2;
    }
}
