body {
  background-color: #c3fae8;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Modak", sans-serif;
}

.container {
  height: 800px;
  width: 800px;
  border: 5px solid #fff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.box {
  top: 75%;
  left: 35%;
  height: 150px;
  width: 250px;
  background-color: #b197fc;
  position: relative;
  background-image: radial-gradient(#e5dbff 5px, transparent 5px);
  background-size: 35px 35px;
  background-position: -5px -10px;
}

.b1,
.b2 {
  background-color: #b197fc;
  height: 8px;
  width: 80px;
  position: relative;
}

.b1 {
  left: 246px;
  top: 13px;
  transform: rotate(20deg);
}

.b2 {
  right: 76px;
  top: 5px;
  transform: rotate(-20deg);
}

.cat {
  z-index: -1;
  position: absolute;
  bottom: -40px;
  left: 50px;
  transition: 1s;
}

.face {
  z-index: -3;
  height: 110px;
  width: 150px;
  background-color: #ced4da;
  border-radius: 50%;
}

.mouth {
  position: absolute;
  top: 90px;
}

.m1,
.m2,
.m3 {
  position: relative;
  background-color: #f1f3f5;
  width: 50px;
  height: 50px;
}

.m1 {
  z-index: 0;
  left: 30px;
  top: 80px;
  border-top-left-radius: 45%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 50%;
}

.m2 {
  z-index: 0;
  left: 70px;
  top: 30px;
  border-top-left-radius: 0%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 45%;
}

.m3 {
  z-index: -1;
  background-color: #ced4da;
  left: 50px;
  bottom: 5px;
  border-radius: 50%;
}

.m4 {
  position: relative;
  background-color: #ffa8a8;
  width: 25px;
  height: 25px;
  left: 12px;
  top: 15px;
  border-radius: 30%;
}

.n1 {
  position: absolute;
  background-color: #fff;
  width: 30px;
  height: 65px;
  border-radius: 20px;
  bottom: 50px;
  left: 60px;
}

.n2 {
  position: relative;
  width: 0;
  height: 0;
  border-top: 15px solid #ffe3e3;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: 44px;
  left: 60px;
}

.ears {
  position: absolute;
  bottom: 95px;
}

.ear-r,
.ear-l {
  position: relative;
  height: 0;
  width: 0;
  border-bottom: 60px solid #adb5bd;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-radius: 5px;
}

.ear-r {
  bottom: 32px;
  right: 10px;
  transform: rotate(-30deg);
}

.ear-l {
  bottom: 93px;
  left: 100px;
  transform: rotate(30deg);
}

.small-r,
.small-l {
  position: relative;
  height: 0;
  width: 0;
  border-bottom: 50px solid #ffc9c9;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-radius: 5px;
}

.small-r {
  top: 8px;
  right: 27px;
}

.small-l {
  top: 8px;
  right: 23px;
}

.eyes {
  position: absolute;
  width: 100%;
}

.eye-l,
.eye-r {
  background-color: #1864ab;
  position: relative;
  height: 25px;
  width: 40px;
  border-radius: 50%;
}

.eye-l {
  top: 40px;
  left: 95px;
  transform: rotate(-10deg);
}

.eye-r {
  top: 15px;
  left: 13px;
  transform: rotate(10deg);
}

.iris-l,
.iris-r {
  position: relative;
  background-color: #343a40;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.iris-l {
  top: 2px;
  left: 10px;
}

.iris-r {
  top: 2px;
  left: 10px;
}

.whites-l,
.whites-r {
  position: relative;
  background-color: #fff;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.whites-l {
  top: 2px;
  left: 10px;
}

.whites-r {
  top: 2px;
  left: 10px;
}

.cat-body {
  z-index: -4;
  background-color: #adb5bd;
  position: relative;
  bottom: 50px;
  width: 150px;
  height: 100px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.paws {
  position: relative;
  bottom: 35px;
}

.p1,
.p2 {
  position: relative;
  height: 40px;
  width: 60px;
  background-color: #f8f9fa;
  border-radius: 50%;
}

.p1 {
  left: 20px;
}

.p2 {
  left: 170px;
  bottom: 40px;
}

.shadow {
  z-index: -1;
  position: relative;
  background-color: #343a40;
  border-radius: 50%;
  height: 40px;
  width: 300px;
  top: 72%;
  left: 32%;
  opacity: 0.3;
}

.hat {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 100px solid #fd7e14;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  top: 5px;
  left: 35px;
  transform: rotate(-5deg);
}

button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  border: solid 1px #862e9c;
  background: #ae3ec9;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 80%;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 2rem;
  padding: 0.5rem 0.75rem;
}
button:hover {
  background-color: #862e9c;
}

@keyframes hat-anim {
  20% {
    transform: translateY(-10px);
  }
}
.balloons {
  position: relative;
  z-index: -2;
}

.b-red {
  animation: balloon-anim 12s ease-in-out infinite;
  position: absolute;
  background-color: #e03131;
  height: 150px;
  width: 120px;
  border-radius: 50%;
  top: -50px;
  left: 425px;
}
.b-red .b-attach {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 25px solid #e03131;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 145px;
  left: 45px;
}
.b-red .b-attach .b-line {
  background-color: #343a40;
  position: relative;
  width: 2px;
  height: 150px;
  top: 20px;
  right: 1px;
  z-index: -2;
}

.b-green {
  animation: balloon-anim 15s ease-in-out infinite;
  z-index: -1;
  position: absolute;
  background-color: #94d82d;
  height: 150px;
  width: 120px;
  border-radius: 50%;
  top: -170px;
  left: 300px;
}
.b-green .b-attach {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 25px solid #94d82d;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 145px;
  left: 45px;
}
.b-green .b-attach .b-line {
  background-color: #343a40;
  position: relative;
  width: 2px;
  height: 150px;
  top: 20px;
  right: 1px;
  z-index: -2;
}

.b-blue {
  animation: balloon-anim 13s ease-in-out infinite;
  position: absolute;
  background-color: #66d9e8;
  height: 150px;
  width: 120px;
  border-radius: 50%;
  top: 70px;
  left: 600px;
}
.b-blue .b-attach {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 25px solid #66d9e8;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 145px;
  left: 45px;
}
.b-blue .b-attach .b-line {
  background-color: #343a40;
  position: relative;
  width: 2px;
  height: 150px;
  top: 20px;
  right: 1px;
  z-index: -2;
}

.b-yellow {
  animation: balloon-anim 10s ease-in-out infinite;
  position: absolute;
  background-color: #ffd43b;
  height: 150px;
  width: 120px;
  border-radius: 50%;
  top: 0px;
  left: 100px;
}
.b-yellow .b-attach {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 25px solid #ffd43b;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 145px;
  left: 45px;
}
.b-yellow .b-attach .b-line {
  background-color: #343a40;
  position: relative;
  width: 2px;
  height: 150px;
  top: 20px;
  right: 1px;
  z-index: -2;
}

@keyframes balloon-anim {
  0% {
    transform: translateY(1100px);
    opacity: 0;
    scale: 0;
  }
  75% {
    scale: 1;
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
  }
}
.congratulation {
  animation: text-anim 1s;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  transform-origin: left;
  z-index: -2;
}

.text {
  font-size: 94px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

@keyframes text-anim {
  0% {
    scale: 0%;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
.box:hover .cat {
  transform: translateY(-105px);
}

.box:hover .hat {
  animation: hat-anim 1.5s ease-out;
  animation-delay: 0.3s;
}

.cloud-container {
  position: relative;
  width: 100%;
  height: 60%;
  top: -24%;
  z-index: -3;
}

.cloud-1 {
  animation: cloud-anim 3s ease-in-out infinite alternate;
  position: absolute;
  top: 15%;
  left: 55%;
}
.cloud-1 .c1 {
  position: absolute;
  background-color: #fff;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  top: -25px;
}
.cloud-1 .c2 {
  position: absolute;
  background-color: #fff;
  height: 100px;
  width: 150px;
  border-radius: 50%;
  top: 10px;
  left: 50px;
}
.cloud-1 .c3 {
  position: absolute;
  background-color: #fff;
  height: 100px;
  width: 150px;
  border-radius: 50%;
  top: 10px;
  left: -120px;
}
.cloud-1 .c4 {
  position: absolute;
  background-color: #fff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 5px;
  left: -25px;
}

.cloud-2 {
  animation: cloud-anim 3s ease-in-out infinite alternate;
  position: absolute;
  top: 8%;
  left: 60%;
  z-index: -1;
}
.cloud-2 .c1 {
  position: absolute;
  background-color: #e9ecef;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  top: -25px;
}
.cloud-2 .c2 {
  position: absolute;
  background-color: #e9ecef;
  height: 100px;
  width: 150px;
  border-radius: 50%;
  top: 10px;
  left: 50px;
}
.cloud-2 .c3 {
  position: absolute;
  background-color: #e9ecef;
  height: 100px;
  width: 150px;
  border-radius: 50%;
  top: 10px;
  left: -120px;
}
.cloud-2 .c4 {
  position: absolute;
  background-color: #e9ecef;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 5px;
  left: -25px;
}

.cloud-3 {
  animation: cloud-anim 5s ease-in-out infinite alternate;
  position: absolute;
  top: 45%;
  left: 18%;
  z-index: -1;
}
.cloud-3 .c1 {
  position: absolute;
  background-color: #fff;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  top: -25px;
}
.cloud-3 .c2 {
  position: absolute;
  background-color: #fff;
  height: 100px;
  width: 150px;
  border-radius: 50%;
  top: 10px;
  left: 50px;
}
.cloud-3 .c3 {
  position: absolute;
  background-color: #fff;
  height: 100px;
  width: 150px;
  border-radius: 50%;
  top: 10px;
  left: -120px;
}
.cloud-3 .c4 {
  position: absolute;
  background-color: #fff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 5px;
  left: -25px;
}

.cloud-4 {
  animation: cloud-anim 2s ease-in-out infinite alternate;
  position: absolute;
  top: 70%;
  left: 70%;
  z-index: -1;
}
.cloud-4 .c1 {
  position: absolute;
  background-color: #fff;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  top: -25px;
}
.cloud-4 .c2 {
  position: absolute;
  background-color: #fff;
  height: 100px;
  width: 150px;
  border-radius: 50%;
  top: 10px;
  left: 50px;
}
.cloud-4 .c3 {
  position: absolute;
  background-color: #fff;
  height: 100px;
  width: 150px;
  border-radius: 50%;
  top: 10px;
  left: -120px;
}
.cloud-4 .c4 {
  position: absolute;
  background-color: #fff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 5px;
  left: -25px;
}

@keyframes cloud-anim {
  100% {
    transform: translateY(20px);
  }
}