* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.main-container {
    display: inline-block;
    margin: 0 auto;
    max-width: 80%;
    background-color: #3399cc;
    border: 10px solid #2b81ac;
}

.weather-container {
    padding: 60px 135px 120px 135px;
}

.countries-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.country-container {
    background-color: #5ec6fa;
    outline: 3px solid #fff;
    text-align: center;
    padding: 28px 92px;
}

.temperature-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text-container {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.weather-text__p1 {
    align-items: center;
    margin-right: 12px;
}

.country-text {
    text-align: center;
    font-size: 18px;
}

.temperature-text {
    margin-right: 12px;
}

.main-icon {
    height: 20px;
}

.icon {
    height: 36px;
}

.country-container.double {
    grid-column: span 2;
}

.country-container.max {
    grid-column: span 4;
}
