.details {
  margin: 0 auto;
  max-width: 1110px;
  font-family: "Mulish", sans-serif;
}
.details_pitch {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.details_pitch_title {
  max-width: 590px;
  font-size: 28px;
  line-height: 38px;
  margin-right: 141px;
}
.details_pitch_col {
  display: flex;
  align-items: center;
  margin-right: 70px;
  max-width: 150px;
}
.details_pitch_col:last-child {
  margin-right: 0;
}
.details_pitch_col_list {
  font-size: 18px;
  color: #111111;
  opacity: 0.6;
}
.details_pitch_col_list li {
  margin-bottom: 10px;
}

.details_awwwards {
  border-top: 1px solid #979797;
  padding-top: 50px;
  padding-bottom: 58px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 150px);
  row-gap: 80px;
}
.details_awwwards_category {
  grid-column: 1/4;
  grid-row: 1/-1;
}
.details_awwwards_category_title {
  font-size: 22px;
  font-weight: 700;
}
.details_awwwards_distinction {
  grid-column: 4/span 2;
}
.details_awwwards_distinction_subtitle {
  font-size: 18px;
  font-weight: 700;
}
.details_awwwards_product {
  grid-column: 6/span 2;
  max-width: 190px;
}
.details_awwwards_product__p1 {
  font-size: 16px;
  margin-bottom: 12px;
}
.details_awwwards_product__p2 {
  font-size: 16px;
  line-height: 26px;
  opacity: 0.6;
}
.details_awwwards_year {
  grid-column: 8/9;
  display: flex;
  justify-content: flex-end;
}
.details_awwwards_year__p1 {
  font-size: 16px;
}

.details_cssdesignawards {
  border-top: 1px solid #979797;
  padding-top: 50px;
  padding-bottom: 58px;
  border-bottom: 1px solid #979797;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 150px);
  row-gap: 80px;
}
.details_cssdesignawards_category {
  grid-column: 1/4;
  grid-row: 1/-1;
}
.details_cssdesignawards_category_title {
  font-size: 22px;
  font-weight: 700;
}
.details_cssdesignawards_distinction {
  grid-column: 4/span 2;
}
.details_cssdesignawards_distinction_subtitle {
  font-size: 18px;
  font-weight: 700;
}
.details_cssdesignawards_product {
  grid-column: 6/span 2;
  max-width: 190px;
}
.details_cssdesignawards_product__p1 {
  font-size: 16px;
  margin-bottom: 12px;
}
.details_cssdesignawards_product__p2 {
  font-size: 16px;
  line-height: 26px;
  opacity: 0.6;
}
.details_cssdesignawards_year {
  display: flex;
  justify-content: flex-end;
  grid-column: 8/9;
}
.details_cssdesignawards_year__p1 {
  font-size: 16px;
}