$primary: #4a4ff2;
$black: #111111;
$stroke: #979797;

.details {
    margin: 0 auto;
    max-width: 1170px;
    font-family: "Mulish", sans-serif;

    &_pitch {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;

        &_title {
            max-width: 590px;
            font-size: 28px;
            line-height: 38px;
            margin-right: 141px;
        }

        &_col {
            display: flex;
            align-items: center;
            margin-right: 70px;
            max-width: 150px;

            &:last-child {
                margin-right: 0;
            }

            &_list {
                font-size: 18px;
                color: $black;
                opacity: 0.6;

                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.details_awwwards {
    border-top: 1px solid $stroke;
    padding-top: 50px;
    padding-bottom: 58px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 150px);
    row-gap: 80px;

    &_category {
        grid-column: 1/4;
        grid-row: 1/-1;

        &_title {
            font-size: 22px;
            font-weight: 700;
        }
    }

    &_distinction {
        grid-column: 4 / span 2;

        &_subtitle {
            font-size: 18px;
            font-weight: 700;
        }
    }

    &_product {
        grid-column: 6 / span 2;
        max-width: 190px;

        &__p1 {
            font-size: 16px;
            margin-bottom: 12px;
        }

        &__p2 {
            font-size: 16px;
            line-height: 26px;
            opacity: 0.6;
        }
    }

    &_year {
        grid-column: 8 / 9;
        display: flex;
        justify-content: flex-end;

        &__p1 {
            font-size: 16px;
        }
    }
}

.details_cssdesignawards {
    border-top: 1px solid $stroke;
    padding-top: 50px;
    padding-bottom: 58px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 150px);
    row-gap: 80px;

    &_category {
        grid-column: 1/4;
        grid-row: 1/-1;

        &_title {
            font-size: 22px;
            font-weight: 700;
        }
    }

    &_distinction {
        grid-column: 4 / span 2;

        &_subtitle {
            font-size: 18px;
            font-weight: 700;
        }
    }

    &_product {
        grid-column: 6 / span 2;
        max-width: 190px;

        &__p1 {
            font-size: 16px;
            margin-bottom: 12px;
        }

        &__p2 {
            font-size: 16px;
            line-height: 26px;
            opacity: 0.6;
        }
    }

    &_year {
        display: flex;
        justify-content: flex-end;
        grid-column: 8 / 9;

        &__p1 {
            font-size: 16px;
        }
    }
}
