$primary: #4a4ff2;
$black: #111111;
$stroke: #979797;

.details {
    margin: 0 auto;
    max-width: 1110px;

    &_pitch {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;

        &_title {
            max-width: 590px;
            font-family: "Mulish", sans-serif;
            font-size: 28px;
            line-height: 38px;
            margin-right: 140px;
        }

        &_col {
            display: flex;
            justify-content: center;
            margin-right: 70px;
            min-width: 150px;

            &_list {
                font-family: "Mulish", sans-serif;
                font-size: 18px;
                color: $black;
                opacity: 0.6;

                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.details_awwwards {
    height: 100vh;
    border-top: 1px solid $stroke;
    padding-top: 50px;
    padding-bottom: 58px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 115px);

    &_category {
        grid-column: 1/4;
        grid-row: 1/-1;
    }

    &_prices {
    }
    &_product {
    }
    &_year {
    }
}
