@use "awards";

$primary: #4a4ff2;
$black: #111111;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulissh", sans-serif;
    color: $black;
}

ul {
    list-style: none;
    padding: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.page_wrapper {
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
}

.top_header {
    margin: 0 auto;
    padding: 60px 0 95px 0;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: flex-end;

    &_bar {
        display: flex;
        align-items: center;
        column-gap: 30px;

        &_item {
            &:hover {
                text-decoration: underline;
                text-underline-offset: 0.5rem;
                color: $primary;
                transition: all 0.15s ease-in-out;
            }
        }
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    column-gap: 190px;
    margin: 0 auto;
    width: 100%;
    max-width: 1110px;
    margin-bottom: 145px;

    &_intro {
        font-family: "Mulish", sans-serif;
        color: $black;
        max-width: 635px;

        &_subtitle {
            color: $primary;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: -0.42px;
            margin-bottom: 32px;
        }

        &_title {
            font-size: 40px;
            line-height: 60px;
            font-weight: 700;

            &_accent {
                color: $primary;
            }
        }
    }

    &_pitch {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-width: 285px;

        &_line {
            background-color: $black;
            opacity: 0.5;
            width: 30px;
            height: 2px;
            margin-bottom: 10px;
        }

        &_text {
            color: $black;
            font-style: italic;
            opacity: 0.6;
            font-size: 18px;
        }
    }
}

img {
    object-fit: cover;
    width: 100%;
}

.gallery {
    margin: 0 auto;
    max-width: 1110px;
    margin-bottom: 90px;

    &_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 10px;
    }
}
