.details {
  margin: 0 auto;
  max-width: 1110px;
}
.details_pitch {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.details_pitch_title {
  max-width: 590px;
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  line-height: 38px;
  margin-right: 140px;
}
.details_pitch_col {
  display: flex;
  justify-content: center;
  margin-right: 70px;
  min-width: 150px;
}
.details_pitch_col_list {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  color: #111111;
  opacity: 0.6;
}
.details_pitch_col_list li {
  margin-bottom: 10px;
}

.details_awwwards {
  height: 100vh;
  border-top: 1px solid #979797;
  padding-top: 50px;
  padding-bottom: 58px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 115px);
}
.details_awwwards_category {
  grid-column: 1/4;
  grid-row: 1/-1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulissh", sans-serif;
  color: #111111;
}

ul {
  list-style: none;
  padding: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.page_wrapper {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
}

.top_header {
  margin: 0 auto;
  padding: 60px 0 95px 0;
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: flex-end;
}
.navigation_bar {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.navigation_bar_item:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  color: #4a4ff2;
  transition: all 0.15s ease-in-out;
}

.hero {
  display: flex;
  justify-content: space-between;
  column-gap: 190px;
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
  margin-bottom: 145px;
}
.hero_intro {
  font-family: "Mulish", sans-serif;
  color: #111111;
  max-width: 635px;
}
.hero_intro_subtitle {
  color: #4a4ff2;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.42px;
  margin-bottom: 32px;
}
.hero_intro_title {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}
.hero_intro_title_accent {
  color: #4a4ff2;
}
.hero_pitch {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 285px;
}
.hero_pitch_line {
  background-color: #111111;
  opacity: 0.5;
  width: 30px;
  height: 2px;
  margin-bottom: 10px;
}
.hero_pitch_text {
  color: #111111;
  font-style: italic;
  opacity: 0.6;
  font-size: 18px;
}

img {
  object-fit: cover;
  width: 100%;
}

.gallery {
  margin: 0 auto;
  max-width: 1110px;
  margin-bottom: 90px;
}
.gallery_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}