$primary: #4a4ff2;
$black: #111111;
$stroke: #979797;

body {
    font-family: "Mulish", sans-serif;
    color: $black;
}

.project_desc {
    margin: 0 auto;
    max-width: 1110px;
    padding-top: 110px;
    gap: 140px;
    display: flex;
    margin-bottom: 60px;

    &_container {
        &_title {
            max-width: 475px;
            font-size: 40px;
            line-height: 55px;
            font-weight: 700;
            margin-bottom: 28px;
        }

        &__p1 {
            max-width: 635px;
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 28px;
            opacity: 0.8;
        }
    }

    &_portfolio {
        display: flex;
        flex-direction: column;

        &_row {
            display: flex;

            &_light,
            &_accent {
                font-size: 18px;
                font-weight: 700;
                padding-top: 18px;
                margin-bottom: 18px;
            }

            &_light {
                opacity: 0.5;
                min-width: 100px;
                margin-right: 40px;
            }
        }

        &_underline {
            display: block;
            background-color: $stroke;
            opacity: 0.3;
            height: 1px;
            width: 100%;
        }
    }
}

.images_container {
    margin: 0 auto;
    max-width: 1110px;

    &_large {
        img {
            margin-bottom: 45px;
        }

        &_text {
            font-size: 16px;
            line-height: 26px;
            color: $black;
            opacity: 0.8;
            margin-bottom: 45px;
        }
    }

    &_small {
        display: flex;
        gap: 30px;
    }
}
